/** -=============== VARIABLE  ===============- */

// Base
@import "base/variables";
@import "base/mixins";
@import "base/typography";

// Utilities
@import "utilities/common";

// Layout Header
@import "layout/header";
@import "layout/footer";

/** -=============== GENERAL CLASS  ===============- */

.main-product {
  display: flex;
  justify-content: space-evenly;
  height: 900px;
  justify-content: center;

  .main-left {
    width: 30%;
    display: flex;
    flex-direction: column;
    // margin-top: 100px;
    // height: 900px;
    justify-content: center;
    gap: 20px;

    ul {
      li {
        list-style-type: disc;
      }
    }
  }

  .main-right {
    padding-top: 100px;

    position: relative;
    background-color: #e3e5e6;
    width: 50%;

    img {
      position: absolute;
      width: 1000px;
      //   top: -100px;
      left: -20%;
    }
  }
}
