@charset "UTF-8";
/** -=============== VARIABLE  ===============- */
@font-face {
  font-family: MMC-Bold;
  src: url(../fonts/MMC-Bold.woff);
}
@font-face {
  font-family: MMC-Medium;
  src: url(../fonts/MMC-Medium.woff);
}
@font-face {
  font-family: MMC-Regular;
  src: url(../fonts/MMC-Regular.woff);
}
/*=====================================
  Web Breakpoints
===================================== */
/*=====================================
   01. Typography CSS
===================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html {
  font-size: 16px;
}

body {
  font-size: 15px;
  font-family: "MMC-Regular", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

/* Remove text-shadow in selection highlight. */
::-moz-selection {
  background: #e60012;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #e60012;
  color: #ffffff;
  text-shadow: none;
}

/* Anchor Tag Default Style */
a {
  transition: 0.4s;
  outline: none;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

textarea:focus, textarea:active,
input:focus,
input:active {
  outline: none;
}

/* Heading Default Style */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1b1b1c;
  line-height: 1.2;
  font-family: "MMC-Bold", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

/* Paragraph Margin */
p {
  font-family: "MMC-Regular", sans-serif;
  font-size: 15px;
  margin-bottom: 15px;
  line-height: 24px;
}
p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

strong,
b {
  font-weight: 700;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  box-shadow: none;
  transition: 0.4s;
}
button:active, button:focus {
  outline: none;
  box-shadow: none;
}

[data-mfp-src],
.btn-img-popup {
  cursor: zoom-in;
}

.form-message.alert {
  margin-top: 10px;
}

/*----------------------
3.2 - Container
-----------------------*/
.container {
  width: 90%;
  margin: 0 auto;
}

/** -=============== HEADER ===============- */
header {
  position: relative;
  background-color: #ffffff;
  padding: 15px 0;
  border-bottom: 2px solid #000000;
}
@media only screen and (max-width: 767.98px) {
  header {
    padding: 15px 0;
  }
}
header #navigation-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header #navigation-header #navigation-header__logoLink {
  display: inline-block;
  margin-right: auto;
}
header #navigation-header #navigation-header__logoLink img {
  display: block;
}
header #navigation-header #navigation-header__navBtnList {
  position: relative;
  display: flex;
}
@media only screen and (max-width: 767px) {
  header #navigation-header #navigation-header__navBtnList {
    position: absolute;
    top: 108px;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
  }
}
header #navigation-header #navigation-header__navBtnList li {
  margin-right: 35px;
}
@media only screen and (max-width: 1023px) {
  header #navigation-header #navigation-header__navBtnList li {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  header #navigation-header #navigation-header__navBtnList li {
    margin: 0;
    width: 100%;
  }
}
header #navigation-header #navigation-header__navBtnList li:last-child {
  margin-right: 0;
}
header #navigation-header #navigation-header__navBtnList a {
  line-height: 70px;
  color: #303030;
  font-size: 1.3rem;
  font-family: "MMC-Bold", sans-serif;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
}
@media only screen and (max-width: 1023px) {
  header #navigation-header #navigation-header__navBtnList a {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 767px) {
  header #navigation-header #navigation-header__navBtnList a {
    padding: 0 45px;
    text-align: end;
  }
}
header #navigation-header #navigation-header__navBtnList a:hover,
header #navigation-header #navigation-header__navBtnList .active {
  transform: none;
  opacity: 1;
  visibility: visible;
  color: #e60012;
}
@media only screen and (max-width: 767px) {
  header #navigation-header #navigation-header__navBtnList a:hover,
  header #navigation-header #navigation-header__navBtnList .active {
    background-color: black;
  }
}

#mobile-header {
  display: none;
}
@media only screen and (max-width: 767px) {
  #mobile-header {
    display: block;
  }
}
#mobile-header button {
  font-size: 2rem;
  padding: 20px;
  color: #303030;
}
#mobile-header button:hover {
  color: #e60012;
}

.show {
  z-index: 2;
}

.hide {
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .none {
    display: none !important;
  }
}

/*===========================
23. Footer Style CSS
===========================*/
footer .footer-widget-area {
  background-color: #1b1b1c;
  padding: 100px 0;
  color: #d8d8d8;
}
@media only screen and (max-width: 767.98px) {
  footer .footer-widget-area {
    padding: 60px 0;
  }
}
footer .footer-copyright-area {
  background-color: #000000;
  color: #d8d8d8;
  padding: 20px 0;
  text-align: center;
}

.footer-widget-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-widget-content .logo-quotes {
  width: 30%;
  max-width: 30%;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  .footer-widget-content .logo-quotes {
    flex: 100%;
  }
}
.footer-widget-content .logo-quotes p {
  max-width: 80%;
}

.widget-item {
  margin-top: 38px;
  margin-bottom: 20px;
  min-width: 20%;
}
.widget-item:first-child {
  margin-top: -2px;
  min-width: 30%;
}
.widget-item:first-child h4 {
  margin-bottom: 13px;
}
.widget-item:first-child .widget-body {
  width: 250px;
}
@media only screen and (max-width: 767px) {
  .widget-item:first-child .widget-body {
    width: 100%;
  }
}
.widget-item:last-child {
  min-width: 25%;
}
.widget-item:last-child .widget-body {
  width: 300px;
}
@media only screen and (max-width: 767px) {
  .widget-item:last-child .widget-body {
    width: 100%;
  }
}
.widget-item .widget-title {
  color: #d8d8d8;
  font-size: 22px;
  font-weight: 500;
  line-height: 1;
  margin-top: -1px;
  margin-bottom: 22px;
  text-decoration: underline;
}
@media only screen and (max-width: 767.98px) {
  .widget-item .widget-title {
    margin-bottom: 15px;
  }
}
.widget-item address {
  line-height: 2;
  margin-bottom: 0;
  font-weight: 500;
}
@media only screen and (max-width: 1023px) {
  .widget-item {
    width: 40%;
  }
}
@media only screen and (max-width: 767px) {
  .widget-item {
    width: 80%;
    text-align: center;
  }
}

.widget-list li {
  line-height: 2;
}
.widget-list li a {
  font-weight: 300;
  color: #d8d8d8;
  transition: 0.2s;
}
.widget-list li a:hover {
  color: #e60012;
  padding-left: 5px;
}

.about-widget img {
  max-width: 120px;
  margin-bottom: 7px;
}

.hotline__item {
  margin-top: 5px;
}
.hotline__item h4 {
  color: #d8d8d8;
}
.hotline__item h4:hover {
  color: #e60012;
  text-shadow: 1px 1px 4px white;
  padding-left: 5px;
}

.copyright-txt {
  margin-top: 25px;
  font-weight: 500;
}
@media only screen and (max-width: 767.98px) {
  .copyright-txt {
    margin-top: 15px;
  }
}

/*--------------------------------
Scroll Top Button
----------------------------------*/
.btn-scroll-top {
  background-color: #e60012;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  height: 50px;
  width: 50px;
  z-index: 999;
}
@media only screen and (max-width: 767.98px) {
  .btn-scroll-top {
    line-height: 40px;
    height: 40px;
    width: 40px;
  }
}
.btn-scroll-top:hover {
  background-color: #1b1b1c;
}
.btn-scroll-top.show {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

/** -=============== GENERAL CLASS  ===============- */
/** -=============== SLIDER ===============- */
#slider-area {
  margin-bottom: 100px;
  position: relative;
}
#slider-area img {
  display: block;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
#slider-area .owl-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}
#slider-area .owl-nav .button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
}
#slider-area .owl-nav .button-next:hover {
  opacity: 1;
  background-color: #e60012;
}

/** -=============== BANNER ===============- */
#banner-area {
  margin-bottom: 100px;
}
#banner-area .banner-area__list-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 5%;
}
#banner-area .banner-area__list-card .banner-area__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 12px 36px;
  border: 2px solid #000000;
  transition: 0.2s;
}
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  #banner-area .banner-area__list-card .banner-area__card {
    width: 70%;
    margin: 20px auto;
  }
}
@media only screen and (max-width: 767.98px) {
  #banner-area .banner-area__list-card .banner-area__card {
    width: 100%;
    margin: 20px auto;
  }
}
#banner-area .banner-area__list-card .banner-area__card h5 {
  color: #303030;
  letter-spacing: 3px;
}
#banner-area .banner-area__list-card .banner-area__card:hover {
  background-image: linear-gradient(-60deg, #000 50%, transparent 0);
  background-position: 99% 50%;
  background-color: #000000;
}
#banner-area .banner-area__list-card .banner-area__card:hover h5 {
  color: white;
}

#mitsubishi-version {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mitsubishi-version .version-title {
  margin-bottom: 50px;
  width: 70%;
  text-align: center;
}
#mitsubishi-version .version-title h1 {
  margin-bottom: 40px;
}
#mitsubishi-version .car-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#mitsubishi-version .car-list .car-detail {
  flex: 1 1 30%;
  margin: 10px;
  padding: 30px 0;
  position: relative;
  background-color: #f6f6f6;
  transition: all 0.3s;
  overflow: hidden;
}
@media only screen and (max-width: 1023px) {
  #mitsubishi-version .car-list .car-detail {
    flex: 40%;
  }
}
@media only screen and (max-width: 767px) {
  #mitsubishi-version .car-list .car-detail {
    flex: 100%;
  }
}
#mitsubishi-version .car-list .car-detail:hover {
  background-color: gray;
  overflow: hidden;
}
#mitsubishi-version .car-list .car-detail:hover img,
#mitsubishi-version .car-list .car-detail:hover .car-sale {
  transform: scale(1.2, 1.2);
}
#mitsubishi-version .car-list .car-detail img {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0px;
}
#mitsubishi-version .car-list .car-detail .car-name {
  padding: 0 30px;
}
#mitsubishi-version .car-list .car-detail .car-sale {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
  line-height: 20px;
  text-align: center;
  background-color: #e74c3c;
  color: #ffffff;
}

/** -=============== NEWWS ===============- */
#news {
  margin: 100px 0;
  /* dỏn home */
}
#news .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#news .container .news-description {
  width: 50%;
  margin: 40px 0 30px;
  text-align: center;
}
#news .big-news {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
}
#news .big-news img {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
#news .big-news .big-news-title {
  position: absolute;
  z-index: 10;
  bottom: 25%;
  left: 10%;
  text-shadow: 5px 5px 20px black;
}
#news .big-news .big-news-title h3 {
  color: white;
}
#news .big-news a {
  background-color: white;
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 10%;
  box-shadow: 2px 2px 5px black;
}
@media only screen and (max-width: 480px) {
  #news .big-news a {
    left: 50%;
    transform: translateX(-50%);
  }
}
#news .list-news {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5%;
  width: 100%;
}
#news .list-news .list-news-card {
  background-color: #f6f6f6;
  flex: 30%;
  display: flex;
  padding-bottom: 15px;
  margin-bottom: 30px;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  #news .list-news .list-news-card {
    flex: 1 1 40%;
    gap: 20px 20px;
  }
}
@media only screen and (max-width: 480px) {
  #news .list-news .list-news-card {
    flex: 1 1 50%;
  }
}
#news .list-news .list-news-card img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
#news .list-news .list-news-card .title-news-card {
  padding: 20px;
}
#news .list-news .list-news-card button {
  margin-bottom: 15px;
}
#news .btn-more-detail {
  display: block;
  text-align: center;
  width: 180px;
  height: 47px;
  line-height: 47px;
  border: 1px solid black;
  border-radius: 3px;
  font-family: "MMC-Bold", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #303030;
  overflow: hidden;
}
#news .btn-more-detail:hover {
  background-color: #000000;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */